*, ::after, ::before {
    box-sizing: inherit;
    font-family: 'Nanum Gothic', sans-serif;
}
A:hover {
    color: black;
}

header{
    border-top: 4px solid #ffde00; 
    border-bottom: 0.3px solid #d1d0d0;
    height: 64px;
}

#logoBlack{
    width: 62.5px;
    height: 20px;
    margin-left: -155px;
    margin-bottom: 6px;
}

#myId{
    font-size: 17.5px;
    font-weight: 700;
    margin-left: 5px;
}

.userMenu{
    position: relative;
    transform: translate(89%, 0%);
}

.topText{
    color: black;
    font-size: 13.5px;
}

.topText1{
    color: black;
    font-size: 13.5px;
}

.topText2{
    color: black;
    font-size: 13.5px;
}

#kakaoid{
    font-weight: 900;
    font-size: 180%;
    transform: translate(0%, 30%);
}

#hr2{
    width: 803px;
    background-color: #333333;
    transform: translate(-6%, 2%);
}

#joinForm{
    position: relative;
    left: 50%;
    width: 900px;
    transform: translate(-60%, 5%);
}

#email{
    margin-top: 1%; 
}

.kakaoUserEmail {
    font-size: 15px;
    margin-left: 31%;
}

.insertEmail{
    margin: -4.5% 0 5% 45%;
}

.textEmail{
    width: 183px;
    height: 38px;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
}
.golbang{
    font-size: 15px;
    color: #666666;
}
.password{
    position: relative;
}
.textNext{
    width: 145px;
    height: 38px;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    margin-left: 4%;
}
.domainSelect{
    background: url('../assets/arrowDown.png') no-repeat 95% 50%;
    -webkit-appearance: none; /* 화살표 없애기*/
    -moz-appearance: none;    /* 화살표 없애기*/
    appearance: none;         /* 화살표 없애기*/
    border: 1px solid rgb(212, 212, 212);
    border-radius: 3px;
    width: 140px;
    height: 38.5px;
    color: #666666;
    font-size: 13px;
    transform: translate(580%, -100%);
}
.text{
    margin-left: 40%;
    font-size: 12.5;
    color: rgb(136, 135, 135);
    transform: translate(15%, -70%);
}
.passwordtext{
    position: absolute;
    top: 28%;
    left: 30.9%;
    font-size: 15px;
}
.passwordArea{
    margin-left: 49.5%;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    font-size: 13px;
    width: 300px;
    height: 38px;
}
.passwordok{
    position: relative;
}

.passwordtextok{ 
    font-size: 14.6px;
    margin-left: 30.9%;
    transform: translate(0%, 200%);
}

.passwordAreaOk{
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    width: 300px;
    height: 38px;
    top: 140%;;
    transform: translate(148%, 0%);
}

.textPassword{
    top: 157.5%;
    left: 44%;
    font-size: 12.5px;
    color: rgb(136, 135, 135);
    transform: translate(49%, 20%);
}

.nickName{
    position: relative;
    font-size: 14.6px;
    transform: translate(31.2%, 136%);
}

.nickNameArea{
    position: relative;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    font-size: 13px;
    width: 300px;   
    height: 38px;
    transform: translate(148%, -50%);
}

.nextbtn{
    position: relative;
}

.button{
    position: relative;
    height: 55px;
    width: 100px;
    border: 1px solid #d3d1d1;
    background-color: #d3d1d1;
    border-radius: 3px;
    font-size: 14px;
    color: #636363;
    transform: translate(600%, 30%);
}

#popUpmask {  
    position:absolute;  
    z-index:9000;  
    background-color:#000;  
    display:none;  
    left:0;
    top:0;
} 

#popUpWindow{
    display: none;
    position:absolute;  
    left:40%;
    top:50%;
    width:300px;
    height:100px;
    background-color:#FFF;
    z-index:10000;   
 }

 ul {
    list-style: none;
}

ul li {
    float: left;
}

.joinInsert{
    position: absolute;
    width: 65%;
    font-size: 13px;
    transform: translate(18%, 5%); 
}

#kakao{
    position: relative;
    left: 50%;
    width: 900px;
    transform: translate(-35%, 5%);
}