*, ::after, ::before {
    box-sizing: inherit;
    font-family: 'Nanum Gothic', sans-serif;
}

header{
    border-top: 4px solid #ffde00; 
    border-bottom: 0.3px solid #d1d0d0;
    height: 60px;
}

#logoBlack{
    position: absolute;
    width: 63px;
    height: 18px;
    top: 2%;
    left: 1%;
}

#myId{
    position: absolute;
    font-size: 17.5px;
    font-weight: 400;
    margin: 0.7% 0% 0% 4.9%;
}

.userMenu{
    position: absolute;
    margin: 0.7% 0% 2% 89%;
}

.topText{
    color: black;
    font-size: 13.5px;
}

.topText1{
    color: black;
    font-size: 13.5px;
}

.topText2{
    color: black;
    font-size: 13.5px;
}

#bar{
    margin: 20px 0px 0px 360px;
}

#kakaoid{
    font-weight: 900;
    font-size: 20px;
    margin: 33px 0px 0px 360px; 
}

#hr2{
    width: 810px;
    margin: 7px 0px 0px 360px;
    color: #000000;
    background-color: #000000;
}

#joinForm{
    margin-left: auto;
    margin-right: auto;
}

#email{
    margin-top: 3.5%; 
}

.kakaoUserEmail {
    font-size: 15px;
    float: center;
    margin-left: 31%;
}

.insertEmail, #password{
    float: left;
    margin: -4% 0 5% 41%;
}

.textEmail{
    width: 183px;
    height: 38px;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    margin-right: auto;
    margin-left: auto;
}

.golbang{
    font-size: 15px;
    color: #666666;
}

.textNext{
    width: 145px;
    height: 38px;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    margin-left: 4%;
}

.domainSelect{
    background: url('../assets/arrowDown.png') no-repeat 95% 50%;
    -webkit-appearance: none; /* 화살표 없애기*/
    -moz-appearance: none;    /* 화살표 없애기*/
    appearance: none;         /* 화살표 없애기*/
    border: 1px solid rgb(212, 212, 212);
    border-radius: 3px;
    width: 140px;
    height: 38.5px;
    color: #666666;
    font-size: 13px;
    position: absolute;
    margin: -4% 0% 0% 2%;
}

.text{
    position: absolute;
    left: 44%;
    font-size: 12.5;
    color: rgb(136, 135, 135);
}

.passwordtext{
    position: absolute;
    top: 110%;
    left: 30.9%;
    font-size: 15px;
}
.passwordArea{
    position: absolute;
    top: 110%;
    left: 44.6%;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    font-size: 13px;
    width: 300px;
    height: 38px;
}

.passwordtextok{
    position: absolute;
    top: 144%;
    left: 31%;
    font-size: 14.6px;
}
.passwordAreaOk{
    position: absolute;
    top: 180%;
    left: 44.5%;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    width: 300px;
    height: 38px;
    top: 140%;;
}

.textPassword{
    position: absolute;
    top: 157.5%;
    left: 44%;
    font-size: 12.5px;
    color: rgb(136, 135, 135);
}

.nickName{
    position: absolute;
    top: 190%;
    left: 31%;
    font-size: 14.6px;
}
.nickNameArea{
    position: absolute;
    top: 188%;
    left: 44.5%;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    font-size: 13px;
    width: 300px;   
    height: 38px;
}

.nextbtn{
    margin: 30px 0px 0px 700px;
    width: 30px;
    height: 50px;
}

.button{
    position: absolute;
    top: 220%;
    left: 60%;
    height: 23%;
    width: 96px;
    border: 1px solid #d3d1d1;
    background-color: #d3d1d1;
    border-radius: 3px;
    font-size: 14px;
    color: #868484;
}

#popUpmask {  
    position:absolute;  
    z-index:9000;  
    background-color:#000;  
    display:none;  
    left:0;
    top:0;
} 

#popUpWindow{
    display: none;
    position:absolute;  
    left:40%;
    top:50%;
    width:300px;
    height:100px;
    background-color:#FFF;
    z-index:10000;   
 }

 ul {
    list-style: none;
}

ul li {
    float: left;
}

.joinInsert{
    position: absolute;
    top: 7.5%;
    left: 10%;
    width: auto;
    height: auto;   
    font-size: 13px;
}