*, ::after, ::before {
    box-sizing: inherit;
    font-family: 'Malgun Gothic', sans-serif;
    user-select: none;
}
body{
    background-color: #f1f1f1;
}
#topBar{
    background-color: #ffffff;
}
#logoRed{
    margin: 4.5% 0% 1% -1.1%;
    
}
#searchArea{
    border: none;
    border-bottom: 2.5px solid #f1f1f1; 
    font-size: 12px;
    size: 5px;
    
}
.mainTop{
    margin: 0% 0% 0% 0%;

}
ul li{
    list-style: none;
}
.individualWrite{
    position: absolute;
    margin: 1.2% 0% 0% 27.8%;
    background-color: white;
    border: none;
    width: 30%;
    height: 15%;
    padding: 0 0 3% 2%;
    font-size: 13.5px;
}
